<header>
    <div class="header-wrapper">
        <div class="logo">
            <img src="../assets/images/sfu logo.png" alt="logo" />
        </div>
        <div class="header-content">
            <h1>SFU AutoGrader</h1>
            <p>A <b>Grading</b> platform.</p>
        </div>
    </div>

</header>


<main>
    <section>
        <div class="banner">
            <img src="../assets/images/banner.jpg" alt="SFU Banner" />
        </div>
        <div class="login">
            <a href="course.html" class="btn login-btn" role="button">Login</a>
        </div>
    </section>
</main>


<footer>
    <h2>SFU</h2>
</footer>
